<!-- movie_list.liquid -->

<div class="dbs-wrapper">
     <p class="movie-search">Search</p>
     <details class="movie-genre">
          <summary>Genre</summary>
          <ul class="genre-list">
               <li>Horror</li>
               <li>Scifi</li>
               <li>Document</li>
               <li>adventure</li>
               <li>Fantasy</li>
          </ul>
     </details>
</div>
     <div class="movie-wrapper">
          <img src="../assets/Placeholder.png" alt="{{planet}}" class="movie-poster">
          <details class="movie-description">
          <summary class="preview">
          <h3>{{planet}} Title</h3>
               </summary>
          This is a movie it's pretty okay. In reality it's very good, the pixels move and stuff and thats pretty cool.
          </details>
     </div>
     <div class="movie-wrapper">
          <img src="../assets/Placeholder.png" alt="{{planet}}" class="movie-poster">
          <details class="movie-description">
          <summary class="preview">
          <h3>{{planet}} Title</h3>
               </summary>
          This is a movie it's pretty okay. In reality it's very good, the pixels move and stuff and thats pretty cool.
          </details>
     </div>
     <div class="movie-wrapper">
          <img src="../assets/Placeholder.png" alt="{{planet}}" class="movie-poster">
          <details class="movie-description">
          <summary class="preview">
          <h3>{{planet}} Title</h3>
               </summary>
          This is a movie it's pretty okay. In reality it's very good, the pixels move and stuff and thats pretty cool.
          </details>
     </div>
     <div class="movie-wrapper">
          <img src="../assets/Placeholder.png" alt="{{planet}}" class="movie-poster">
          <details class="movie-description">
          <summary class="preview">
          <h3>{{planet}} Title</h3>
               </summary>
          This is a movie it's pretty okay. In reality it's very good, the pixels move and stuff and thats pretty cool.
          </details>
     </div>
     <div class="movie-wrapper">
          <img src="../assets/Placeholder.png" alt="{{planet}}" class="movie-poster">
          <details class="movie-description">
          <summary class="preview">
          <h3>{{planet}} Title</h3>
               </summary>
          This is a movie it's pretty okay. In reality it's very good, the pixels move and stuff and thats pretty cool.
          </details>
     </div>